<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
      爱好:
      <template v-for="item in Value">
        <input type="checkbox" :value="item.id" v-model="checkValue">{{item.value}}
      </template>
      {{checkValue}}
    </div>

    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                checkValue:[],
                Value:[
                    {value:"游泳",id:1},
                    {value:"健身",id:2},
                    {value:"学习",id:3}
                ]
            }
        })
    </script>
</body>
</html>